---
title : About Page for you
layout : base.njk

---
       
        <div class="container">
                <h1>This Page is For you!</h1>
             <p>It is made for you using HTML, CSS, and JavaScript. And served as Jamstack site</p>
        </div>  